/.phpunit.cache
/bootstrap/ssr
/files
/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/patches
.env
.env.backup
.env.production
.phpunit.result.cache
/.htaccess
server.php
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
